*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #000000;
    --text-color: #ffffff;
}

html{
    height: 100%
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    background-image: url("images/bliss.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    z-index: 4;
    padding: 20px 10px;
}

#game_container{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
    max-width: 50%;
    margin: auto;
}

footer{
    background-color: #106BDE;
    
}

#background{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: -1;
}